/* custom variables for styles */

:root {
  --dark-green: #1f4760;
  --medium-green: #2b6a89;
  --light-green: #298fa3;
  --light-blue: #34c4e0;
  --title-color: #b1e7f1;
}

/*
--------------- GENERAL STYLES BY TYPE
*/
* {
  font-family: "JetBrains Mono", monospace;
  box-sizing: border-box;
  border: none;
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100lvh;
}

h1,
h2,
h3 {
  color: var(--title-color);
  line-height: 115%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1rem;
  font-weight: 200;
  font-style: italic;
}

h3 {
  white-space: pre-wrap;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  margin: auto;
  margin-bottom: 0.5rem;
  color: var(--light-blue);
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--light-green);
}

a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

main {
  position: relative;
  height:100%;
  min-height: 100lvh;
  width:100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  z-index:10;
}

/*
-------------------- BACKGROUND
*/
.background-image-container {
  position: fixed;
  display: block;
  height: 100lvh;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index:0;
}

.background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/*
-----------------GENERAL STYLES FOR ALL CARDS
*/

.card,
footer {
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.3) 0% 15%,
    rgba(255, 255, 255, 0.1) 30% 60%,
    rgba(255, 255, 255, 0.3) 78% 78.5%,
    rgba(255, 255, 255, 0.1) 88% 100%
  );
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.8);
  position: relative;
  transition:
    box-shadow 0.1s,
    transform 0.1s;
  width: 440px;
  min-width: 300px;
  z-index:10;
    display: flex;
  flex-direction: column;

}

.card {
  border-radius: 12px;
  max-width: 80%;
}

.card:hover {
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.8);
  transform: scale(1.01);
}


/*
----------------- CARD NAV STYLES 
*/
.card__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 1.5rem;
  overflow: hidden;
  opacity: 0;
  transition:
    height 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card__nav--visible {
  height: 4rem;
  opacity: 1;
}


.card__header {
  padding: 1.25rem 1.5rem 0.75rem;
  flex-shrink: 0;
}

/*
-------------------- this styles also apply to "close" btn in Dual Panel Card
*/
.carousel__nav-btn, 
.carousel__nav-close-btn {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition: background 0.15s;
}

.carousel__nav-btn img,
.carousel__nav-close-btn img {
  height: 70%;
  width: 70%;
}


/* specific syles for close btn to make it round and larger font*/
.carousel__nav-close-btn {
  font-size: 1rem;
  border-radius: 50%;
  line-height: 1;
}

.carousel__nav-btn:active,
.carousel__nav-close-btn:active {
  background: rgba(0, 0, 0, 0.1);
}
.carousel__nav-btn:disabled {
  opacity: 0.3;
  cursor: default;
}

.card__viewer {
  background-color: rgba(20, 20, 20, 0.01);
  overflow: hidden;
  width: 100%;
  container-type: inline-size;
  position: relative;
  height: 180px;
}

.card__viewer--empty {
  visibility: hidden;
  height: 0;
}

/*
----------------- GENERAL STYLES FOR ALL INNER CARDS
*/

.inner-card,
.panel {
  width: 100cqw;
  flex-shrink: 0;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 1.5rem;
  position: relative;
  background-color: var(--dark-green);
  transition: transform 0.1s ease-in;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.08) 80%
  );
}

.inner-card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  cursor: default;
}

.inner-card__description {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}

.inner-card__content p {
  white-space: pre-wrap;
  font-size: 0.9rem;
  line-height: 1.5;
  width: 100%;
}

.small-link {
  font-size: 0.9rem;
  margin-top: 8px;
  color:var(--light-blue);
}

/*
----------------- STYLES FOR CAROUSEL
*/

.carousel__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.carousel__nav-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 12px;
  left: 50%;
  display: flex;
  gap: 5px;
  z-index: 2;
}
.carousel__nav-dot {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
  transition: background 0.2s;
}
.carousel__nav-dot.active {
  background: rgba(255, 255, 255, 1);
}


/*
----------------- DUAL PANEL CARDS - card
*/

.dual-panels {
  position: absolute;
  display: flex;
  width: 100%;
  min-height: 100%;
  justify-content: space-around;
  opacity: 0.9;
  transition: 0.3s all ease-in-out;
  z-index: 10;
}

.set-of-cards--hidden,
.dual-panels--hidden {
  transform: translateY(-180px);
  pointer-events: none;
  opacity: 0;
}

.set-of-cards {
  position: relative;
  display: flex;
  transition: transform 0.2s ease-in-out;
}



/*
----------------- DUAL PANEL CARDS - individual panels
*/

.panel {
  max-width: 50%;
}

.panel button {
  border-radius: 8px;
  padding: 0.25rem 0.75rem;
  border: 0.5px solid var(--title-color);
  background-color: transparent;
  color: var(--title-color);
  transition: transform 0.1s ease-in;
}

.panel button:hover {
  background: rgba(0, 0, 0, 0.1);
  transform: scale(1.0);
}

.panel button:active,
.close-btn:active {
  background: rgba(255, 255, 255, 0.1);
}

.left-panel {
  background-color: var(--light-green);
}

.panel h3 {
  color: var(--title-color);
}

.right-panel {
  background-color: var(--dark-green);
}


/*
----------------- FOOTER
*/

footer {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 0;
  color: var(--title-color);
}
